{% extends 'reviewapp/base.html' %}
{% load widget_tweaks %}
{% block content %}

<!--CSS-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'reviewapp/style/addreview.css' %}">

<div id="outer"
    style="width:100%; background:url('/static/reviewapp/images/{{ restaurant.pk }}.jpg') no-repeat fixed center; background-size: cover;">
    <div id="wrapper">

        <!-- Back button-->
        <a href="{% url 'reviewapp:details' restaurant.pk %}" class="back-button">
            <i class="fas fa-arrow-circle-left"></i>
        </a>

        <!--Contents-->
        <div>
            <h1><b>--- {{restaurant.restaurant_text}} ---</b></h1>
            <br>
        </div>
        <br>

        <h4>Rate your food experience and help other Foodies!</h4>
        <hr>
        <div class= "container" id="review-cont">
        <form action="{% url 'reviewapp:reviewed' restaurant.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <ul>
            <div>
                <li><h6>Your overall rating of the Dish</h6>
                <label class="rate">
                    <input type="radio" name="rate" value="1" checked>
                    <i class=" fas fa-star text-warning" /></i>
                </label>
                <label class="rate">
                    <input type="radio" name="rate" value="2">
                    <i class=" fas fa-star text-warning" /></i>
                </label>
                <label class="rate">
                    <input type="radio" name="rate" value="3">
                    <i class=" fas fa-star text-warning" /></i>
                </label>
                <label class="rate">
                    <input type="radio" name="rate" value="4">
                    <i class=" fas fa-star text-warning" /></i>
                </label>
                <label class="rate">
                    <input type="radio" name="rate" value="5">
                    <i class=" fas fa-star text-warning" /></i>
                </label>
            </div>
            <hr>
            <br>
            
            <div>
                <li><h6>How expensive was this Dish?</h6>
                <label>
                    <input type="radio" name="price" value="1" checked>
                    <div class="price"><i class="fas fa-rupee-sign"></i></div>
                </label>
                <label>
                    <input type="radio" name="price" value="2">
                    <div class="price"><i class="fas fa-rupee-sign"></i><i class="fas fa-rupee-sign"></i></div>
                </label>
                <label>
                    <input type="radio" name="price" value="3">
                    <div class="price"><i class="fas fa-rupee-sign"></i><i class="fas fa-rupee-sign"></i><i class="fas fa-rupee-sign"></i></div>
                </label>
                <br><hr><br>
            </div>
            
            <div class="fieldWrapper">
                <li> <h6>Title of your review</h6>
                {% render_field form.review_title class="form-control" placeholder="Summarise your review here in few words" %}
            </div><br><hr>
            <div class="fieldWrapper">
                <li> <h6>Your review</h6>
                {% render_field form.review_description class="form-control" placeholder="Tell people about the food, atmosphere, service, etc." %}
            </div>
            <hr>
            <br>
            <div class="review-attachments">
                <li> <h6>Upload photo</h6>
                {% render_field form.review_images class="form-control-file" type="file" %}
            </div>
            <br>
            <input type="submit" value="Submit your review" class="btn btn-success"
                style="font-weight: 500; margin-bottom: 50px">
            <br>
        </ul>
        </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        getRestaurantImage({{ restaurant.pk }});
    });
    function getRestaurantImage(restaurantId) {
        var endpoint = "/reviewapp/api/restaurant_image/";
    
        $.ajax({
            method: "GET",
            url: endpoint,
            data: {
                restaurant_id: restaurantId,
            },
            success: function(data) {
                console.log(data);
                
                var size = Object.keys(data).length;
                
                for (var i = 0; i < size; i++) {
                    
                    if (data[i].id == restaurantId) {
                        console.log(data[i]);
                        
                        var imageURL = "url('/media/" + data[i].restaurant_img + "')";
                        console.log(imageURL);
                        $('#outer').css("background-image", imageURL); 
                        console.log(imageURL);
                        break; // Exit the loop once the category is found
                    }
                }
            },
            error: function(xhr, status, error) {
                console.error("Error fetching restaurant images:", error);
            }
        });
    }
</script>
{% endblock %}